@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Font Family */
body {
  font-family: 'Montserrat', sans-serif !important;
  background: #1E232B;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* Text Style */
.italic {
  font-style: italic;
}

/* Custom style */
.pointer {
  cursor: pointer;
}

.transparent-5-percent {
  background: rgba(255, 255, 255, 0.05);
}

.uppercase {
  text-transform: uppercase;
}